*{
box-sizing: border-box;
margin: 0;
}

.head{
    background-image: url(./img/pattern.png);
    height: 170px;
    background-color: deepskyblue;
    position: relative;
}

.logo{
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
span{
    color: rgba(0, 0, 0, 0.6);
    
}
#date{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

#autore{
    color: lightskyblue;
}

figure{
    display: inline-block;
}

.ghost{
    color: white;
}

.row-left{
    display: inline-block;
    width: 33%;
}
.row-center{
    display: inline-block;
    width: 33%;
    
}
.row-right{
    display: inline-block;
    width: 33%;
}
.row{
    background-color: deepskyblue;
}

.row2{
    background-color: lightskyblue;
    padding-bottom: 20px;
    
}

.row3{
    padding-bottom: 20px;
}

.row4{
    background-color: lightskyblue;
    padding-bottom: 20px;

}



