*{
box-sizing: border-box;
margin: 0;
}

.head{
    background-image: url(./img/pattern.png);
    height: 170px;
    background-color: deepskyblue;
    
}

.logo{
    margin-top: 120px;
    height: 20%;
    padding-left: 5px;
    
    
    
}
span{
    color: rgba(0, 0, 0, 0.6);
    
}
#date{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

#autore{
    color: lightskyblue;
}



.ghost{
    color: white;
}

.row-left{
    display: inline-block;
    width: 33%;
}
.row-center{
    display: inline-block;
    width: 33%;
    
}
.row-right{
    display: inline-block;
    width: 33%;
}
.row{
    background-color: deepskyblue;
}

.row2{
    background-color: lightskyblue;
    padding-bottom: 20px;
    
}

.row3{
    padding-bottom: 20px;
}

.row4{
    background-color: lightskyblue;
    padding-bottom: 20px;

}

h3{
    color: rgba(0, 0, 0, 0.6);

}

.container{
    height: 150px;
    width: 300px;
}

#first{
    background-image: url(./img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 10px;
    margin-top: 10px;
}

#second{
    background-image: url(./img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 10px;
    margin-top: 10px;
   
}

.dolor{
    color: white;
    font-size: 20px;
    padding-left: 5px;
}



